@media only screen and (max-width:30rem){
    div{
       text-align: center;
        padding: 10px;
    }
}
    
@media only screen and (max-width:50rem){
    div{
        text-align: center;
        padding: 15px;
    }
}  
    


